openapi: 3.0.3
info:
  title: Yume Cloud API
  version: 1.3.1
  description: |
    Сводная спецификация Yume Cloud (фрагмент для предпросмотра в Mintlify).

    Полный экспорт OpenAPI со всеми путями (`/v1/...`, CRM, биллинг, вложения и т.д.)
    положите в этот же файл, выполнив из корня репозитория:

    `bash scripts/sync-openapi.sh`

servers:
  - url: https://api.yume.cloud
    description: Production

paths:
  /v1/auth/login/:
    post:
      operationId: v1_auth_login_create
      summary: Вход и получение JWT
      description: |
        Принимает учётные данные и возвращает пару access/refresh JSON Web Token
        (SimpleJWT).
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
  /v1/auth/refresh/:
    post:
      operationId: v1_auth_refresh_create
      summary: Обновление access-токена
      description: Принимает refresh-токен и возвращает новый access-токен.
      tags:
        - Аутентификация
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefreshRequest'
      responses:
        '200':
          description: Новая пара токенов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Заголовок `Authorization: Bearer <access>`
    basicAuth:
      type: http
      scheme: basic
    cookieAuth:
      type: apiKey
      in: cookie
      name: sessionid

  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: Email или имя пользователя
        password:
          type: string
          format: password
    TokenPair:
      type: object
      properties:
        access:
          type: string
          description: JWT access
        refresh:
          type: string
          description: JWT refresh
    TokenRefreshRequest:
      type: object
      required:
        - refresh
      properties:
        refresh:
          type: string
    TokenRefreshResponse:
      type: object
      properties:
        access:
          type: string
        refresh:
          type: string

security:
  - bearerAuth: []
